* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 5rem;
    background-color: black;
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

.hidden{
    display: none;
}

nav a{
    display: block;
    padding: 8px 0;
}

.nav-links{
    display: flex;
    gap: 2rem;
}

li a{
    position: relative;
    color: white;
    font-weight: 300;
}

li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255),
     rgb(255, 0, 255));
}

li a:hover::before{
    width: 100%;
}

.visit-btn{
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), 
    rgb(255, 0, 255));
}

.visit-btn:hover{
    background: linear-gradient(to right, rgb(255, 0, 255), 
    rgb(0, 157, 255));
    transform: scale(1.03);
}

.menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about{
    background-image: url('images/image7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img{
    width: 30vw;
    border-radius: 30%;
}

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1{
    font-size: 3rem;
    font-weight: 600;
}

.info-box span{
    background: linear-gradient(to right, rgb(255, 0, 255), 
    rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group{
    display: flex;
    gap: 1rem;
}

.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgb(247, 247, 247);
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    background: black;
    color: white;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.socials{
    display: flex;
    gap: 2rem;
}

.socials i{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.socials i:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 8px rgb(0, 157, 255);
}

.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience{
    background-image: url('https://images.unsplash.com/photo-1709626011485-6fe000ea2dbc?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;   
    background-size: cover; 
    color: white;
}
.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience img{
    width: 24vw;
    border-radius: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.grid-card{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.grid-card:hover{
    transform: scale(1.02);
    background-color: black;
    color: white;
    box-shadow: 2px 2px 8px rgb(0, 157, 255);
    transition: 0.5s ease-in-out;
}

.grid-card i{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card span{
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, rgb(255, 0, 255), 
    rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background-color: grey;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, rgb(255, 0, 255), 
    rgb(0, 157, 255));
}

.projects{
    background-image: url('images/image5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card{
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
}

.project-card:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: translateY(-10px)scale(1.02);
}

.project-card:hover .btn{
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.project-card:hover .btn:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: black;
}

.project-card h3{
    font-size: 2rem;
    font-weight: 500;
}

.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 40px;
}

.contact{
    background-image: url('images/image6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.input-box input{
    border-radius: 3rem;
    border: 2px solid black;
    padding: 2rem 3rem;
    font-size: 1rem;
}

.input-box input::placeholder{
    font-size: 30px;
}

.input{
    position: relative;
}

.input i{
    position: absolute;
    font-size: 1rem;
    top: 50%;
    left: 10px;
    transform: translate(50%, -50%);
}

textarea{
    border: 2px solid black;
    padding: 1rem 1rem;
    font-size: 20px;
    height: 1fr;
    width: 40rem;
}

footer{
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: linear-gradient(to right, grey, black);
}

footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 10px;
}

footer ul li a{
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.copyright{
    font-size: 300;
    margin-top: 2rem;
    color: white;
}

@media (max-width: 1280px) {
    header{
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .experience-info{
        flex-direction: column;
    }
    .input-box input{
        padding: 2rem 3rem;
        font-size: 1rem;
    }
    .input input::placeholder{
        font-size: 2.5rem;
    }
    .input-box i{
        font-size: 2.5rem;
    }
}
@media (max-width: 768px) {
    header{
        gap: 1rem;
        padding: 1rem 1rem;
    }

    header .logo{
        font-size: 1rem;
    }
    header .visit-btn{
        display: none;
    }
    .about-container{
        flex-direction: column;
    }
    .input-box{
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    .input-box i{
        display: none;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .experience-info .image{
        width: 70vw;
    }
    textarea{
        width: 30rem;
        height: 16rem;
    }
}
@media (max-width: 600px) {
    header .menu-icon{
        display: none;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center; /* centers the menu items horizontally */
        background-color: rgba(0, 0, 0, 0.9); /* your menu color */
        position: absolute;
        top: 70px; /* below header */
        left: 0;
        right: 0; /* stretches across full width */
        width: 100%;
        padding: 1rem 0;
        border-top: 1px solid #333;
        text-align: center;
        z-index: 100;
        border-radius: 40px;
    }
    .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active{
        display: block;
    }
    header{
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo{
        font-size: 1.5rem;
    }
    .about-container img{
        width: 40vw;
    }
    .input-box input{
        padding: 0.5rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    textarea{
        width: 20rem;
        height: 10rem;
    }
    footer ul{
        padding: 1rem 5rem;
        gap: 1rem;
    }
}